.no-margin
{
	margin: 0px;
}
.no-padding
{
	padding: 0px;
}
.site-footer
{
	background-color: #222;
	color:#fff;
	margin-top: 30px;
	padding-top: 30px;
}
.bottom-footer
{
	margin-top: 10px;
	padding-top: 10px;
	color:#b2b2b2;
	border-top:1px solid #b2b2b2;
}
.footer-nav
{
	text-align: right;
	list-style: none;
}
.footer-nav li
{
	display: inline;

}
.footer-nav li:not(:first-child):before
{
	content: '|';
	padding: 0px 10px;

}
.footer-nav a
{
	color:#b2b2b2;
}
.footer-nav a:hover
{
 color: #fff;
 text-decoration: none;
}
#power-gauge g.arc {
	fill: steelblue;
}

#power-gauge g.pointer {
	fill: #e85116;
	stroke: #b64011;
}

#power-gauge g.label text {
	text-anchor: middle;
	font-size: 14px;
	font-weight: bold;
	fill: #666;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.y.axisLeft  line {
  stroke: lightgrey;
}


.y.axisRight  line {
  stroke: lightgrey;
  stroke-dasharray: 2,2;
}


.data-point1 {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.data-point2 {
    fill: white;
    stroke: red;
    stroke-width: 1.5px;
}

.navbar-fixed-left {
  top:50px;
  position: fixed;
  left: 0;
  z-index: 1030;
  border-width: 0 0 1px;
}
@media (min-width: 768px) {
  .navbar-static-left {
    border-radius: 0;
  }
}

#rounded-corners {
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 10px; 
    width: 1025px;
    height: 350px;    
}

#dualChartSessionandTime {
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 20px; 
    width: 1025px;
    height: 1000px;    
}

#devicepiecharts {
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 20px; 
    width: 1025px;
    height: 3000px;    
}

.bar1 {
  fill: steelblue;
}

.bar2 {
  fill: orange;
}

.bar1:hover {
  fill: orangered ;
}
.bar2:hover {
  fill: orangered ;
}

.tickerbar {
fill: steelblue;
}

.tickerbar:hover {
fill: brown;
}


.y.axisticker,
.x.axisticker
{
      fill: none;
      stroke: #000;
      shape-rendering: auto;
}
/*
#tickerchart .axis {
      font: 10px sans-serif;
    }*/
