
      <div class="col-xs-12 col-md-12" style="margin-left:100px">
           </br></br></br>
          <div class="container-fluid" class="no-margin" class="no-padding">
<!--                 <div ng-controller="PowerGaugeCtrl" class="col-xs-12 col-md-12" id="rounded-corners">                   
                        <div id="power-gauge">
                          
                        </div>

                         <p> Total number of current online users:<b>{{totnumofusers}}</b></p>                   
                </div> -->

 <!--          <div ng-controller="TickerChartCntrl" class="col-xs-12 col-md-12" id="rounded-corners">  
             <b>Current online users</b>                   
                        <div id="tickerchart">
                          
                        </div>

                                          
          </div> -->

<!--              </br></br></br> -->
             <div ng-controller="DualChartSessionandTimeCtrl" class="col-xs-12 col-md-12" id="dualChartSessionandTime" data-ng-init="init()">
                       <div id="reportrange" class="pull-left" style="background: #fff;padding: 5px 10px;cursor: pointer; width: 30%">
                           <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                           <span></span>

                       </div>
                       <button type="button" id="btntoday" class="btn btn-primary">Today</button>
                       <button type="button" id="btnyesterday" class="btn btn-primary">Yesterday</button>
                       <button type="button" id="btncurrmonth" class="btn btn-primary">Current Month</button>
                       <button type="button" id="btnprevmonth" class="btn btn-primary">Previous Month</button>
                       <button type="button" id="btn3mnths" class="btn btn-primary">3 months</button>
                       <button type="button" id="btn6mnths" class="btn btn-primary">6 months</button>
                       <button type="button" id="btn1year" class="btn btn-primary">1 year</button>
                      <div id="dualchartsession">
                      </div>
                      <div id="dualcharttime">
                      </div>
                      <div id="dualchartuser">
                      </div>
             </div>
          </div>
      </div><!-- col-xs-10 col-md-10 -->

